body {
	margin:0;
	padding:0;
	border:0;
	width:100%;
	background:#fff;
	min-width:600px;
	font-size:90%;
    font-family:'Microsoft YaHei';
    font-family:sans-serif;
}
#header #logo{
    position:absolute;
    width:232px;
    height:98px;
    left:10px;
    margin-top:-1px;
}
#header .nav-AddCloudDevice{
	width:70px;
	height:54px;
	padding-top:40px;
	position:absolute;
	left:320px;
}
#header .nav-AddCloudDevice:hover{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#header .nav-AddFolder{
	width:56px;
	height:56px;
	padding-top:40px;
	position:absolute;
	left:1100px;
}
#header .nav-AddFolder:hover{
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
.nav-Logout {
	position:absolute;
	top:18px;
	left:1200px;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #b7bbbd) );
	background:-moz-linear-gradient( center top, #ffffff 5%, #b7bbbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#b7bbbd');
	background-color:#ffffff;
	-webkit-border-top-left-radius:32px;
	-moz-border-radius-topleft:32px;
	border-top-left-radius:32px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:32px;
	-moz-border-radius-bottomright:32px;
	border-bottom-right-radius:32px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #000000;
	display:inline-block;
	color:#5c5c5c;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:86px;
	text-decoration:none;
	text-align:center;
}
#FileOptions{
	float:right;
}
#FileOptions img:hover{
opacity:0.5;
filter:alpha(opacity=50); /* For IE8 and earlier */
}
}
a {
	color:#369;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
.CloudAccount
{
	float:left;
	padding-top: 8px;
	margin-right:5px;
}
.CloudNotConnected
{
	float:left;
	padding-top: 8px;
	opacity:0.5;
	margin-right:5px;
}
h3{
	padding:6px;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
    height:100px;
    border-bottom:2px solid #24a3dd;
    position:relative;
}
#header img {
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    position: absolute;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:right;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding-right:30px;
    padding-top:25px;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li img{
	width:10px;
	height:10px;
}
#header ul li a {
	display:block;
	float:right;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#ffffff;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}

/* column container */
.columncontainer {
	position:relative;	
	clear:both;
	float:left;
	width:100%;			
	overflow:hidden;
    		
}

/* common column settings */

.colalign {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2
{
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
.col ul{
	margin-right:20px;
}
.col1 ul li {
	list-style:none;
	padding-top:6px;
    font-size:small; 
    margin-bottom:2px;
}
.col2 ul li {
	list-style:none;
	padding-top:7px;
    font-size:medium; 
    margin-bottom:2px;

}
.col1 ul li img,
.col2 ul li img{
	margin-bottom:-9px; /* aligns folders in list with text*/
}
.image{
	margin-right:5px;
}
hr {
	color:#898989;
	background-color:#898989;
	height: 1px;
	margin-bottom:2px;
	margin-top:15px;
}
/* 2 Column (left menu) settings */
.menu {
	background:#fff;	
}
.menu .colalign {
	right:0;	
		
}
.menu .col1 {
	width:75%;			
	left:21%;
    min-height:550px;
    padding-top: 20px;			
}
.menu .col2 {
	width:19%;	
    padding-left:13px;		
	left:-75%;	
    background: #e5e5e5;	
    min-height:550px;
    padding-top: 20px;
    /*	
	-webkit-box-shadow: 2px 1px 10px 4px rgba(105,105,105,0.82);
	-moz-box-shadow: 2px 1px 10px 4px rgba(105,105,105,0.82);
	box-shadow: 2px 1px 10px 4px rgba(105,105,105,0.82);
	*/
	-webkit-box-shadow: inset -1px 0px 4px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset -1px 0px 4px 0px rgba(0,0,0,0.3);
	box-shadow: inset -1px 0px 4px 0px rgba(0,0,0,0.3);
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
    height: 37px;
	/*border-top:2px solid #000;
    border-bottom:1px solid #000;*/
    background-image: url(images/FooterBG.png);
    background-repeat: repeat-x;
    width: 100%;
}
#footer p {
    padding-top:5px;
    color:white;
    text-align:center;
    position:relative;
}
